.scroll-horizontal {
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
}

.scroll-horizontal .flex {
    gap: 2rem;
    min-width: max-content;
}

.landing-page{
	height: 100vh;
	align-content: end;

	#main-title{
		font-size: min(30vw, 24rem);
		font-weight: 600;
		line-height: 90%;
		will-change: transform;

		& > div{
	    background-color: var(--bg-05-color);
	    border: 1px solid var(--bg-color);
	    backdrop-filter: blur(10px);
	    padding-bottom: 120px;
	    margin-bottom: -120px;
		}
	}
}


.large-title{
	position: relative;
	color: #F5F5F5;
	font-size: min(14rem, 24vw);
	font-weight: 600;
	line-height: 90%;
	will-change: transform;

    &.styled{
        padding-bottom: 48px;
    }
	&.styled::before {
		content: attr(data-text);
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		-webkit-text-stroke-width: 16px;
		-webkit-text-stroke-color: #B94142;
		color: #B94142;

		text-shadow: 
			1px 1px 0 #B94142,
			2px 2px 0 #B94142,
			3px 3px 0 #B94142,
			4px 4px 0 #B94142,
			5px 5px 0 #B94142,
			6px 6px 0 #B94142,
			7px 7px 0 #B94142,
			8px 8px 0 #B94142,
			9px 9px 0 #B94142,
			10px 10px 0 #B94142,
			11px 11px 0 #B94142,
			12px 12px 0 #B94142,
			13px 13px 0 #B94142,
			14px 14px 0 #B94142,
			15px 15px 0 #B94142,
			16px 16px 0 #B94142;
	}
}
h3{
    font-size: min(4rem, 6vw);
}
.text-shadow-effect{
	position: relative;
	color: var(--red-light-color);
	
	&::before {
		content: attr(data-text);
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		-webkit-text-stroke-width: 6px;
		-webkit-text-stroke-color: #fff;
		color: transparent;
				
		text-shadow: 
			1px 1px 0 #fff,
			2px 2px 0 #fff,
			3px 3px 0 #fff,
			4px 4px 0 #fff,
			5px 5px 0 #fff,
			6px 6px 0 #fff,
			7px 7px 0 #fff,
			8px 8px 0 #fff;
	}
}

.bg-red-gradient{
	padding-top: 250px;
	background: linear-gradient(#84000200, #84000213 40%, #840002 80%, #A92C2D 1700px);
    /* background: radial-gradient(111.41% 100% at 50% 0%, rgba(132, 0, 2, 0.00) 0%, #840002 50%, #A92C2D 100%); */
	mask-image: linear-gradient(to bottom, transparent 0, black 40px);
}

.bg-red-gradient-image{
	position: absolute;
	top: 250px;
	left: 0;
	width: 100%;
	height: 100%;
	background: url('/img/gradient-bg.svg') no-repeat;
	background-size: cover;
	z-index: -1;
	mask-image: linear-gradient(to bottom, transparent, black);
}


/* header */

header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
}

.logo-button{
	position: relative;
	background-color: transparent;
	border: solid 1px transparent;
	box-sizing: border-box;
	transition: border-color 0.3s, background-color 0.3s;
}
.nav-absloute{
	position: absolute;
	top: 0;
	left: 77px;
	height: 100%;
	background-color: var(--red-light-12-color);
	border: solid 1px var(--red-light-12-color);

	a{
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		padding: 16px 21px;
		background-color: var(--bg-color);
	}
	a.bg-fill{
		padding: 0;
		width: 30px;
		background-color: transparent;
	}
}
.nav-absloute{
	opacity: 0;
	pointer-events: none;
	transform: scaleX(0.5);
	transform-origin: left;
	transition: all 0.4s, opacity 0.3s 0.1s;
	a{
		transform: scaleX(0);
		transform-origin: left;
		&:hover{
			background-color: transparent;
		}
	}
	a:nth-child(1){
		transform: scaleX(1);
		transition: all 0.4s;
	}
	a:nth-child(2){
		transition: all 0.4s, transform 0.5s;
	}
	a:nth-child(3){
		transition: all 0.4s, transform 0.5s;
	}
	a:nth-child(4){
		transition: all 0.4s, transform 0.6s;
	}
	a:nth-child(5){
		transition: all 0.4s, transform 0.8s;
	}
}
header.scrolled .logo-button:hover{
	border-color: var(--red-light-12-color);
	background-color: var(--red-light-12-color);
	.nav-absloute{
		opacity: 1;
		pointer-events: initial;
		transform: scaleX(1);
		a{
			transform: scaleX(1);
		}
	}
}

.date-img{
	height: 54px;
  width: fit-content;
}


.title-outline{
	position: relative;
}
.title-outline__elem{
	position: absolute;
	display: inline-block;
  top: 0;
  left: 0;
	z-index: -1;
	color: transparent;
 	&.white{
		z-index: 999;
		color: transparent;
	}
	img, &.title-outline__elem {
			min-width: calc(100%);
			height: auto;
	}
	&.up{
		z-index: 2;
	}
}


.title-outline__elem-static{
	position: absolute;
	top: 48px;
	left: 0;
	z-index: -1;
	color: #A92C2D;
	-webkit-text-stroke-color: #A92C2D;	
	-webkit-text-stroke-width: 32px;
}


.bg-images{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	img{
		position: absolute;
		transform-origin: center;
		width: 12px;
		filter: grayscale(1);
		transition: transform 0.3s ease-out, filter 0.15s ease-out;
	}
}


.scrollable-block{
	margin-left: 240px;
}