@import "tailwindcss";

@theme inline {
	--color-bg-color: var(--bg-color);
	--color-red-light-color: var(--red-light-color);
	--color-red-dark-color: var(--red-dark-color);
	--font-sans: var(--font-fliege-mono);
	--font-mono: var(--font-fliege-mono);
}

:root {
	--bg-color: #ECE8E3;
	--bg-05-color: #ECE8E3B5;
	--red-light-color: #A92C2D;
	--red-light-12-color: #E3D1CC;
	--red-dark-color: #840002;
}

body {
	background: var(--bg-color);
	color: var(--color-red-light-color);
	font-family: var(--font-fliege-mono);

	overflow-x: hidden;
	overflow-y: auto;
}

/* fonts */
h1{
	margin: 0;
	padding: 0;
	font-weight: 600;
	line-height: 90%;
	/* letter-spacing: -8.5px; */
	letter-spacing: min(-12px, 2vw);
	font-family: var(--font-modak);
}
p{
	font-size: 16px;
	font-weight: 400;
	line-height: 170%;
}


a{
	font-weight: 600;
	transition: all 0.4s, opacity 0.25s;
}

a:not(.not-default){
	padding: 4px 8px;
}
a.hover-square{
	position: relative;
	margin-left: 0;
  padding-right: 24px;

	&::before{
		content: "";
		position: absolute;
		top: 9px;
		left: -12px;
		width: 12px;
		height: 12px;
		background: var(--color-red-dark-color);
		color: var(--color-bg-color);
		transition: all 0.4s;

		transform: rotate(45deg) scale(0);
		opacity: 0;
	}
	&:hover{
		margin-left: 12px;
		padding-right: 0;
		color: var(--color-red-dark-color);
	}
	&:hover::before{
		transform: rotate(135deg) scale(1);
		opacity: 1;
	}
}



button{
	position: relative;
	transition: all 0.4s;
	border-radius: 32px;
	padding: 12px 21px;
	overflow: hidden;
}
button::after{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url('/button-overlay.png') repeat center center;
	background-size: 48px;
	z-index: -1;
	opacity: 0;
	transition: all 0.3s;
}
button:hover{
	background-color: rgba(255, 0, 0, 0.487);

	&::after{
		opacity: 0.8;
	}
}

/* custom cursor */
* {
	cursor: url('/cursors/cursor-default.svg') 12 12, auto;
}
a, button, [role="button"], input[type="button"], input[type="submit"] {
	cursor: url('/cursors/cursor-pointer.svg') 12 12, pointer !important;
}
h1, h2, h3, h4, h5, h6, p, span, li, ul, ol,
h1 div, h2 div, h3 div, h4 div, h5 div, h6 div, p div, span div, li div, ul div, ol div{
	cursor: url('/cursors/cursor-text.svg') 12 12, text !important;
}
a:focus, button:focus, [role="button"]:focus, input[type="button"]:focus, input[type="submit"]:focus {
	cursor: url('/cursors/cursor-pointer.svg') 12 12, pointer !important;
}
.clickable, .cursor-pointer {
	cursor: url('/cursors/cursor-pointer.svg') 12 12, pointer !important;
}
.cursor-default {
	cursor: url('/cursors/cursor-default.svg') 12 12, default !important;
}

::selection{
	background: var(--color-red-light-color);
	color: var(--color-bg-color);
}


img{
	user-select: none;
	-webkit-user-drag: none;
	-moz-user-select: none;
}